<footer style="position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  background-color: black;
  color: grey;
  text-align: center;">
<br>
<br>
<div> 

<a style="text-align: center;" data-toggle="collapse" data-target="#navHeaderCollapse"> <b routerLink="/home" routerLinkActive = "active"><span class = "Footer_inner_right"></span>Αρχική</b> </a>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>


<a style="text-align: center;" data-toggle="collapse" data-target="#navHeaderCollapse"> <b routerLink="/about"  routerLinkActive = "active"><span class = "Footer_inner_right"></span>Σχετικά</b></a>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>


<a style="text-align: center" data-toggle="collapse" data-target="#navHeaderCollapse"> <b routerLink="/contact"  routerLinkActive = "active"><span class = "Footer_inner_right"></span>Επικοινωνία</b></a>
<div class="divider"></div>
</div>
<br>
<br>

<i style="text-align: center"> Copyright © 2019 </i>

<a style="text-align: center" data-toggle="collapse" data-target="#navHeaderCollapse" class="footer-copyright text-center py-3"> <b><i routerLink= "/about"> Segmentation Folks. </i></b></a>

<i style="text-align: center"> All rights reserved. </i>

<br>
<br>

</footer>