<div align="center" style="height: 100vh;">
<style>

p.big {
  line-height: 1.8;
}
</style>

<h1 style="color:#fd9501; font-size: 30px; font-weight: bold;">Ποιοι είμαστε;</h1>

<br>

<div align="center">
<p class="big" align="justify" style= "font-size: 18px; font-weight: bold; align-content: center; width: 45%; min-width: 350px; ">Είμαστε μία ομάδα 6 ατόμων, οι "Segmentation Folks", με πολλά οράματα και κοινούς στόχους. Ξεκινήσαμε την προσπάθεια υλοποίησης αυτής της εφαρμογής με σκοπό να βοηθήσουμε όσο το δυνατόν περισσότερους συμπολίτες μας, ώστε να μπορούν να εντοπίζουν συγκεκριμένων ειδών προϊόντα στις φθηνότερες τιμές της αγοράς.
<br>
<br>
Η οικονομική κρίση που έχει ξεσπάσει την τελευταία σχεδόν δεκαετία στη χώρα μας, καθιστά τέτοιου είδους εφαρμογές αδήριτη ανάγκη και επομένως, η παρούσα εφαρμογή θα αποτελεί ένα πολύ χρήσιμο εργαλείο στα χέρια των καταναλωτών! </p>
</div>

