input::placeholder {
	font-style:italic;
}


.button {
border-radius: 9px;
    width:210px;
    height:40px;
    color: white;
    background-color: black;
font-size: 15px;
}

.button2 {
border-radius: 9px;
    width:280px;
    height:40px;
    color: white;
    background-color: black;
font-size: 15px;
}