<div align="center" style="min-height: 100vh; max-height: 100%;padding-top: 30px">

  <h1 style="font-family: arial; font-size: 60px;">Ευχαριστούμε!!</h1>

  <div class="card text-center" style="width:fit-content;">
    <div class="card-body">
      <h3 class="card-title">Στοιχεία νέας Τιμής:</h3>
      <h3 class="card-subtitle mb-2 text-muted">Κωδικός Προιόντος:{{prID}}</h3>
      <h3 class="card-subtitle mb-2 text-muted">Κωδικός Καταστήματος:{{shID}}</h3>
      <h4 class="card-text">Τιμή:{{price}}</h4>
      <h4 class="card-text">Απο:{{dateF}}</h4>
      <h4 class="card-text">Μέχρι:{{dateT}}</h4>
      <a href="#" class="btn btn-primary" routerLink='/home'>Μεταφερθείτε στην αρχική!</a>
    </div>
  </div>
</div>
